div.location-list {
  width: 100%;
  &-item {
    box-sizing: border-box;
    width: 50%;
    margin: 25px auto;
    padding: 0 15px;
    font-family: "NeutraBook";
    transition: 1s ease-in-out all;
    color: #535353;
    @media only screen and (max-width: 1000px) {
      width: 75%;
      margin: 20px auto;
    }
    @media only screen and (max-width: 500px) {
      width: 100%;
      margin: 15px auto;
    }
    .name {
      margin: 0;
      display: inline;
      font-family: "NeutraBold";
      font-size: 22px;
    }
    button {
      margin: 0 0 0 7.5px;
      display: inline-block;
      border: none;
      float: right;
      padding: 6.5px 15px;
      border-radius: 100px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      background-color: transparent;
      font: 1em "NeutraBold", sans-serif;
      color: #535353;
      cursor: pointer;
      transition: 280ms ease-in-out background;
      align-self: center;
      -webkit-appearance: none;
      &:hover {
        background-color: #eee;
      }
    }
  }
}

button.add-location-btn {
  background-color: #D8D8D8;
  border: none;
  display: block;
  margin: 25px auto;
  border-radius: 3px;
  font: 20px 'NeutraBold';
  color: #535353;
  padding: 5px 15px;
  cursor: pointer;
}