form.signup {
  width: 50%;
  display: block;
  margin: auto;
  h1 {
    margin: 25px 0 10px;
    display: block;
    text-align: center;
    color: #535353;
    font-family: "NeutraBold", sans-serif;
  }
  .error {
    text-align: center;
    p.error-message {
      background-color: rgba(255, 0, 0, 0.6);
      padding: 10px;
      font-size: 18px;
      margin: 5px;
    }
  }
  @media only screen and (max-width: 1000px) {
    width: 75%;
  }
  @media only screen and (max-width: 600px) {
    width: 90%;
  }
  .signup-input {
    margin: 15px 0;
    min-width: 200px;
    flex: 1;
    label {
      font-size: 14px;
      width: 100%;
      display: block;
      font-family: "NeutraBold", sans-serif;
      color: #a8a8a8;
      text-transform: uppercase;
    }
    input,
    select {
      border: none;
      font-size: 24px;
      width: 100%;
      color: #535353;
      border-bottom: 2px solid #a8a8a8;
      font-family: "NeutraBook", sans-serif;
      padding: 3px 0 7px 0;
      -webkit-appearance: none;
      border-radius: 0;
      &::placeholder {
        color: #535353;
      }
    }
  }
  ul {
    list-style: none;
    padding: 0;
    li {
      width: 50%;
      transition: 0.2s all ease-in-out;
      font-size: 18px;
      display: inline-block;
      @media only screen and (max-width: 600px) {
        width: 90%;
      }
    }
  }
  .btn-container {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    button {
      display: inline;
      margin: 15px 30px 10px;
      border: none;
      border-radius: 5px;
      padding: 7.5px 50px;
      font-size: 22px;
      border-radius: 100px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
      background-color: transparent;
      font-family: "NeutraBold", sans-serif;
      color: #535353;
      cursor: pointer;
      transition: 280ms ease-in-out background;
      align-self: center;
      @media only screen and (max-width: 1000px) {
        margin: 15px 10px 10px;
      }
      @media only screen and (max-width: 600px) {
        margin: 15px 5px 10px;
      }
      &:hover {
        background-color: #eee;
      }
    }
  }
}
