@import "../../assets/variables";

form.signup {
  width: 50%;
  display: block;
  margin: auto;
  h1 {
    margin: 25px 0 10px;
    display: block;
    text-align: center;
    color: $color5;
    font-family: "NeutraBold", sans-serif;
  }
  .error {
    text-align: center;
    p.error-message {
      background-color: $color4;
      padding: 10px;
      font-size: 18px;
      margin: 5px;
      color: $color5;
    }
  }
  @media only screen and (max-width: 1000px) {
    width: 75%;
  }
  @media only screen and (max-width: 600px) {
    width: 90%;
  }
  .signup-input {
    margin: 15px 0;
    min-width: 200px;
    flex: 1;
    transition: $bezier-transition;
    label {
      font-size: 14px;
      width: 100%;
      display: block;
      font-family: "NeutraBold", sans-serif;
      color: $color2;
      text-transform: uppercase;
    }
    input,
    select {
      border: none;
      font-size: 24px;
      width: 100%;
      color: $color5;
      border-bottom: 2px solid $color2;
      font-family: "NeutraBook", sans-serif;
      padding: 3px 0 7px 0;
      -webkit-appearance: none;
      border-radius: 0;
      &::placeholder {
        color: $color5;
      }
    }
    &:hover {
      transform: scale(1.025);
    }
  }
  .password-requirements {
    h3 {
      font-family: "NeutraBold";
    }
    ul {
      list-style: none;
      padding: 0;
      li {
        width: 50%;
        transition: 0.2s all ease-in-out;
        font-size: 20px;
        display: inline-block;
        cursor: default;
        transform-origin: 50% 50%;
        transition: $bezier-transition;
        @media only screen and (max-width: 650px) {
          width: 90%;
        }
        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }

  .btn-container {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    button {
      margin: 15px 30px 10px;
      border: none;
      padding: 7.5px 50px;
      font-size: 22px;
      border-radius: 100px;
      font-family: "NeutraBold", sans-serif;
      color: $color2;
      cursor: pointer;
      transition: $bezier-transition;
      @media only screen and (max-width: 1000px) {
        margin: 15px 10px 10px;
      }
      @media only screen and (max-width: 600px) {
        margin: 15px 5px 10px;
      }
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
