@import "./assets/colors/palette";

nav {
  width: 100%;
  background-color: white;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.2);
  z-index: 100;
  position: relative;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    li {
      margin: 0 20px;
      display: inline-block;
      cursor: pointer;
      font-family: "NeutraBold";
      font-size: 20px;
      transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      &:hover {
        transform: scale(1.15);
      }
      a {
        display: block;
        padding: 14px 16px;
        text-decoration: none;
        color: $color5;
        font-family: "NeutraBold";
        transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        position: relative;
        &::after {
          content: "";
          position: absolute;
          bottom: 9px;
          left: 50%;
          width: 0%;
          height: 2.5px;
          transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          background-color: $color5;
          transform: translateX(-50%);
        }
        &:hover::after {
          width: 90%;
        }
      }
      a.active {
        text-decoration: none;
        color: $color4;
        font-family: "NeutraBold";
        transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        position: relative;
        &::after {
          content: "";
          position: absolute;
          bottom: 9px;
          left: 50%;
          width: 0%;
          height: 2.5px;
          transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          background-color: $color4;
          transform: translateX(-50%);
        }
        &:hover::after {
          width: 90%;
        }
      }
    }
  }
}
