@import "./assets/variables";

nav {
  width: 100%;
  background-color: white;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.2);
  z-index: 100;
  position: relative;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    li {
      margin: 0 20px;
      display: inline-block;
      cursor: pointer;
      font-family: $neutra-bold;
      font-size: 20px;
      transition: $bezier-transition;
      &:hover {
        transform: scale(1.15);
      }
      a {
        display: block;
        padding: 14px 16px;
        text-decoration: none;
        color: $darkpurple;
        font-family: $neutra-bold;
        transition: $bezier-transition;
        position: relative;
        @include bar(9px, 90%, true);
      }
      a.active {
        text-decoration: none;
        color: $pink;
        font-family: $neutra-bold;
        transition: $bezier-transition;
        position: relative;
        @include bar(9px, 90%, true);
      }
    }
  }
}
