@import './assets/colors/palette';

@font-face {
  font-family: NeutraBold;
  src: url("./assets/fonts/NeutraText-Bold.otf");
}
@font-face {
  font-family: NeutraBook;
  src: url("./assets/fonts/NeutraText-Book.otf");
}

body {
  margin: 0;
  font-family: "NeutraBook", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color5;
}

input:focus, textarea:focus {
  outline: none;
}

h1.loading {
  margin: 25px 0 10px;
  display: block;
  text-align: center;
  color: $color5;
  font-family: "NeutraBold", sans-serif;
}

.page {
  position: absolute;
  left: 0;
  right: 0;
}

.fade {
  &-appear,
  &-enter {
    opacity: 0;
    z-index: 1;
  }
  &-appear-active,
  &-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms linear 150ms;
  }
  &-exit {
    opacity: 1;
  }
  &-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 150ms linear;
  }
}

