@import "../../assets/variables";

.dashboard.page {
  @include pageSpacing();
  .dashboard-content {
    width: 80%;
    margin: auto;
    @media (max-width: $large) {
      width: 90%;
    }
    h3 {
      @include headerThree;
    }
    h1 {
      @include headerOne;
    }
  }
}
