.home {
  h1 {
    margin: 25px 0 10px;
    display: block;
    text-align: center;
    color: #535353;
    font-family: 'NeutraBold', sans-serif;
  }
  p {
    text-align: center;
    color: #535353;
  }
}