/* HSL */
$color1: hsla(281%, 100%, 94%, 1);
$color2: hsla(237%, 76%, 71%, 1);
$color3: hsla(254%, 44%, 46%, 1);
$color4: hsla(343%, 100%, 64%, 1);
$color5: hsla(271%, 40%, 11%, 1);
$color6: hsla(0, 0%, 94%, 1);

/* RGB */
$color1: rgba(246, 226, 255, 1);
$color2: rgba(123, 129, 237, 1);
$color3: rgba(89, 65, 169, 1);
$color4: rgba(255, 71, 123, 1);
$color5: rgba(29, 17, 40, 1);
$color6: rgba(240, 240, 240, 1);