@import "../../assets/variables";

.home {
  header.hero {
    background-color: $primary;
    position: relative;
    width: 100%;
    padding: 6em 2em 5em 2em;
    transition: $bezier-transition;
    @media only screen and (max-width: 850px) {
      padding: 6em 1em 2.5em 1em;
    }
    .background-text {
      font-family: $neutra-bold-italic;
      color: rgba(255, 255, 255, 0.6);
      font-size: 37em;
      position: absolute;
      top: 2vw;
      left: -5vw;
      opacity: 0.07;
      white-space: nowrap;
      line-height: 0.8;
      z-index: 0;
      @media only screen and (min-width: 1500px) {
        top: 3vw;
        left: 4vw;
      }
      @media only screen and (max-width: 850px) {
        font-size: 25em;
        top: 6vw;
      }
    }
    .hero-content {
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      @media only screen and (min-width: 1600px) {
        width: 80%;
        margin: auto;
      }
      @media only screen and (max-width: 850px) {
        width: 90%;
        margin: auto;
      }

      .left {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        @media only screen and (max-width: 850px) {
          width: 100%;
        }
        &-content {
          text-align: left;
          padding: 2em;
          @media only screen and (max-width: 850px) {
            padding: 1em;
          }
          h3 {
            margin: 0;
            display: block;
            color: $lightprimary;
            font-family: $neutra-bold;
            font-size: 2em;
            text-transform: uppercase;
            transition: $bezier-transition;
            @media only screen and (max-width: 1600px) {
              font-size: 1.65em;
            }
            @media only screen and (max-width: 1200px) {
              font-size: 1.25em;
            }
          }
          h1 {
            margin: 0;
            display: block;
            color: $secondary;
            font: 6.5em $neutra-bold;
            transition: $bezier-transition;
            @media only screen and (max-width: 1600px) {
              font-size: 5.5em;
            }
            @media only screen and (max-width: 1200px) {
              font-size: 4em;
            }
          }
          p {
            margin: 5px 0;
            color: $lightprimary;
            font: 2em $neutra-bold;
            display: block;
            line-height: 1.5;
            transition: $bezier-transition;
            @media only screen and (max-width: 1200px) {
              font-size: 1.25em;
            }
            @media only screen and (max-width: 1600px) {
              font-size: 1.65em;
            }
            @media only screen and (min-width: 1800px) {
              max-width: 80%;
            }
            @media only screen and (max-width: 850px) {
              max-width: 60%;
            }
            @media only screen and (max-width: 600px) {
              max-width: 100%;
            }
          }
          a {
            margin: 20px 0;
            padding: 8px 60px;
            width: fit-content;
            display: block;
            border: none;
            border-radius: 25px;
            color: $primary;
            font: 2em $neutra-bold;
            text-transform: uppercase;
            text-decoration: none;
            background-color: $secondary;
            transition: $bezier-transition;
            &:hover {
              transform: scale(1.1);
            }
            @media only screen and (max-width: 1600px) {
              padding: 6px 35px;
              font: 1.4em $neutra-bold;
              border-radius: 15px;
            }
          }
        }
      }

      .right {
        width: 50%;
        z-index: 1;
        @media only screen and (max-width: 850px) {
          display: none;
        }
        .hero.icon.svg {
          width: 75%;
          margin: 3em auto;
          @media only screen and (min-width: 1500px) {
            width: 80%;
          }
        }
      }
    }
  }

  .seperator.circle path {
    fill: $primary;
    width: 100%;
    stroke: $primary;
  }

  section.about {
    h1 {
      width: 65%;
      margin: 15px auto 15px;
      padding-bottom: 4000px;
      text-align: center;
      color: $darkpurple;
      font-family: $neutra-bold;
      font-size: 2em;
      @media only screen and (max-width: 600px) {
        font-size: 1.5em;
      }
    }
    p {
      width: 65%;
      margin: auto;
      font-size: 1.25em;
      text-indent: 4em;
      color: $darkpurple;
      line-height: 1.25;
      @media only screen and (max-width: 1000px) {
        text-indent: 2em;
        line-height: 1;
        width: 85%;
      }
    }
  }
}
