@import "../../assets/variables";

.home {
  h1 {
    margin: 25px 0 10px;
    display: block;
    text-align: center;
    color: $darkpurple;
    font-family: $neutra-bold;
    font-size: 3em;
    @media only screen and (max-width: 600px) {
      font-size: 2em;
    }
  }
  p {
    text-align: center;
    color: $darkpurple;
    margin: 15px auto;
    font-size: 1.5em;
    max-width: 90%;
    display: block;
    line-height: 1.5;
    @media only screen and (max-width: 1000px) {
      font-size: 1.5em;
    }
  }
  a {
    text-decoration: none;
    color: $pink;
    font-family: $neutra-bold;
    transition: $bezier-transition;
    position: relative;
    @include bar(-5px, 100%, false);
  }
}
