@import "../../../assets/variables";

.open-modal {
  cursor: pointer;
}

.edit-location-modal {
  text-align: left;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
  font-family: $neutra;
  transition: 0.2s ease-in-out opacity;

  form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .modal-content {
      background-color: white;
      padding: 2.25em;
      z-index: 100;
      position: absolute;
      border-radius: 0.3em;
      box-sizing: border-box;
      width: 60%;
      @media (max-width: $medium) {
        width: 80%;
      }
      @media (max-width: $small) {
        width: 95%;
      }

      .modal-header {
        .modal-title {
          margin: 0;
          color: $primary;
          font-family: $neutra-bold;
          text-transform: uppercase;
          font-size: 1.5em;
        }
      }

      .modal-body {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .modal-input {
          width: 100%;
          margin-top: 1em;
          transition: $bezier-transition;
          @media (max-width: $medium) {
            width: 100%;
            margin-top: 1em;
          }

          input,
          select {
            border: none;
            font-size: 1.5em;
            width: 100%;
            color: $primary;
            border-bottom: 2px solid $primary;
            font-family: $neutra;
            padding: 3px 0 0.5em 0;
          }
          label {
            font-size: 1em;
            width: 100%;
            display: block;
            font-family: $neutra-bold;
            color: $primary;
            text-transform: uppercase;
          }
          &:hover {
            transform: scale(1.025);
          }
        }
      }

      .modal-footer {
        text-align: right;
        margin-top: 2em;
        button {
          margin: 0 1em;
          border: none;
          padding: 0.5em 3.125em;
          font-size: 1.5em;
          border-radius: 6em;
          font-family: $neutra-bold;
          color: $primary;
          cursor: pointer;
          transition: $bezier-transition;
          @media (max-width: $small) {
            padding: 0.5em 1.5em;
          }
          &:hover {
            transform: scale(1.1);
          }
          &:focus {
            outline: 0;
          }
        }
      }
    }
  }

  .modal-background {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
}
