//Colors
$primary: #7453ff;
$medprimary: #ae9aff;
$lightprimary: #d6ccff;
$secondary: #fff;
$gray: #333333;
$lightgray: #888888;

//Fonts
$neutra-bold-italic: "NeutraBoldItalic", sans-serif;
$neutra-bold: "NeutraBold", sans-serif;
$neutra: "NeutraBook", sans-serif;

//Transitions
$bezier: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
$ease-all-short: 200ms ease-in-out all;
$ease-all: 400ms ease-in-out all;
$ease-all-long: 1000ms ease-in-out all;

//Media Queries
$small: 400px;
$medium: 800px;
$large: 1200px;
$extralarge: 1600px;

//Mixins
@mixin bar($bottom, $width, $is-nav) {
  &::after {
    content: "";
    position: absolute;
    bottom: $bottom;
    left: 50%;
    width: 0%;
    transform: translateX(-50%);
    height: 3px;
    transition: $bezier;
    @if $is-nav {
      background-color: $secondary;
    } @else {
      background-color: $primary;
    }
  }
  &:hover::after {
    width: $width;
  }
  &.active::after {
    background-color: $secondary;
  }
}

@mixin eyeIcon {
  position: absolute;
  bottom: 1.75em;
  right: 11px;
  width: 2em;
  cursor: pointer;
}

@mixin modal($is-location) {
  font-size: initial;
  box-sizing: border-box;
  background-color: white;
  z-index: 200;
  padding: 2.25em;
  border-radius: 0.3em;
  box-sizing: border-box;
  @media (min-width: $medium) {
    width: 80%;
  }
  @media (max-width: $medium) {
    width: 80%;
    padding: 1.75em;
  }
  @media (max-width: $small) {
    width: 95%;
    padding: 1.5em;
  }
  h1.modal-title {
    margin: 0;
    color: $primary;
    font-family: $neutra-bold;
    text-transform: uppercase;
    font-size: 1.5em;
    text-align: left;
    @media (min-width: $medium) {
      font-size: 2.5em;
    }
  }
  .btn-container {
    text-align: right;
    margin-top: 1.5em;
    @media (max-width: $medium) {
      margin-top: 1.25em;
    }
    @media (max-width: $medium) {
      text-align: center;
    }
    button {
      margin: 0 0.75em;
      border: none;
      padding: 0.5em 3.125em;
      font-size: 1.5em;
      border-radius: 6em;
      font-family: $neutra-bold;
      color: $secondary;
      background-color: $primary;
      cursor: pointer;
      transition: $bezier;
      @media (max-width: $medium) {
        margin: 0 0.5em;
        padding: 0.5em 1.5em;
        font-size: 1.25em;
      }
      @media (max-width: $small) {
        padding: 0.5em 1.25em;
        font-size: 1.25em;
      }
      &:last-child {
        margin-right: 0;
        @media (max-width: $small) {
          margin-right: initial;
        }
      }
      &:hover {
        transform: scale(1.1);
      }
      &:focus {
        outline: 0;
      }
    }
  }
  .input-container {
    @media (min-width: $medium) {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .input {
      margin: 1em 0;
      min-width: 200px;
      flex: 1;
      transition: $bezier;

      @media (min-width: $medium) {
        flex: initial;
        @if $is-location {
          width: 100%;
        } @else {
          width: 47%;
        }
      }
      label {
        font-size: 1em;
        width: 100%;
        display: block;
        font-family: $neutra-bold;
        color: $primary;
        text-transform: uppercase;
        text-align: left;
        @media (min-width: $medium) {
          font-size: 1.25em;
        }
        @media (min-width: $large) {
          font-size: 1.5em;
        }
      }
      input,
      select {
        border: none;
        font-size: 1.5em;
        width: 100%;
        color: $gray;
        border-bottom: 2px solid $primary;
        font-family: $neutra;
        padding: 3px 0 0.5em 0;
        -webkit-appearance: none;
        border-radius: 0;
        @media (min-width: $medium) {
          font-size: 1.75em;
        }
        &::placeholder {
          color: $lightgray;
        }
      }
      &:hover {
        transform: scale(1.025);
      }
    }
  }
}

@mixin headerThree() {
  margin: 0;
  display: inline-block;
  color: $lightprimary;
  font-family: $neutra-bold;
  font-size: 2em;
  text-transform: uppercase;
  transition: $bezier;
  position: relative;
  @media (max-width: $extralarge) {
    font-size: 1.65em;
  }
  @media (max-width: $large) {
    font-size: 1.25em;
  }
  &::after {
    content: "";
    position: absolute;
    width: 2.5em;
    height: 3px;
    background-color: $lightprimary;
    right: -3.125em;
    bottom: 45%;
  }
}

@mixin headerOne() {
  margin: 7.5px 0;
  display: block;
  color: $primary;
  font: 5.5em $neutra-bold;
  transition: $bezier;
  @media (max-width: $extralarge) {
    font-size: 4.5em;
  }
  @media (max-width: $large) {
    font-size: 3.5em;
  }
  @media (max-width: $medium) {
    font-size: 2.5em;
  }
}

@mixin pageSpacing() {
  padding-top: 7em;
  transition: $ease-all;
  @media (max-width: $medium) {
    padding-top: 2em;
  }
}
