//Colors
$primary: #7453ff;
$medprimary: #ae9aff;
$lightprimary: #d6ccff;
$secondary: #fff;
$gray: #333333;

//Fonts
$neutra-bold-italic: "NeutraBoldItalic", sans-serif;
$neutra-bold: "NeutraBold", sans-serif;
$neutra: "NeutraBook", sans-serif;

//Transitions
$bezier-transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

//Mixins
@mixin bar($bottom, $width, $is-nav) {
  &::after {
    content: "";
    position: absolute;
    bottom: $bottom;
    left: 50%;
    width: 0%;
    transform: translateX(-50%);
    height: 3px;
    transition: $bezier-transition;
    @if $is-nav {
      background-color: $secondary;
    } @else {
      background-color: $primary;
    }
  }
  &:hover::after {
    width: $width;
  }
  &.active::after {
    background-color: $secondary;
  }
}
