/* RGB */
$color1: rgba(246, 226, 255, 1);
$color2: rgba(123, 129, 237, 1);
$color3: rgba(89, 65, 169, 1);
$color4: rgba(255, 71, 123, 1);
$color5: rgba(29, 17, 40, 1);
$color6: rgba(240, 240, 240, 1);

$bezier-transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);