@import "../../assets/variables";

.recipes.page {
  padding-top: 6em;
  transition: $ease-all;
  @media (max-width: $medium) {
    padding-top: 0em;
  }
  .recipe-content {
    width: 80%;
    margin: auto;
    @media (max-width: $large) {
      width: 90%;
    }
  }
}
