@import "../../assets/variables";

.stocks.page {
  padding-top: 6em;
  position: relative;
  transition: $ease-all;
  @media (max-width: $medium) {
    padding-top: 0em;
  }
  .background-text {
    cursor: default;
    font-family: $neutra-bold-italic;
    color: black;
    font-size: 37em;
    position: absolute;
    top: 2vw;
    left: 2vw;
    opacity: 0.04;
    white-space: nowrap;
    line-height: 0.8;
    z-index: -1;
    user-select: none;
    transition: $ease-all;
    @media (min-width: $large) {
      top: 3vw;
      left: 4vw;
    }
    @media (max-width: $medium) {
      font-size: 25em;
      top: 1vw;
    }
  }
  .stock-content {
    width: 90%;
    margin: auto;
    @media (min-width: $large) {
      width: 80%;
      margin: auto;
    }
    @media (max-width: $medium) {
      width: 90%;
    }
    h1 {
      margin: 0.75em 0;
      display: block;
      color: $primary;
      font: 5.5em $neutra-bold;
      transition: $bezier;
      @media (max-width: $extralarge) {
        font-size: 4.5em;
      }
      @media (max-width: $large) {
        font-size: 3em;
      }
      @media (max-width: $medium) {
        font-size: 2.5em;
      }
    }
    .no-stock {
      color: $primary;
      font-family: $neutra;
      text-transform: uppercase;
      font-size: 1.5em;
      text-align: center;
      display: block;
      width: 50%;
      margin: auto;
      @media (max-width: $medium) {
        width: 75%;
      }
      @media (max-width: $small) {
        width: 90%;
      }
    }
  }
}
