@import '../../assets/variables';

.stocks.page {
  h1 {
    margin: 25px 0 0;
    display: block;
    text-align: center;
    color: $color5;
    font-family: "NeutraBold",sans-serif;
    font-size: 3em;
    @media only screen and (max-width: 600px) {
      font-size: 2em;
    }
  }

}