@import "../../assets/variables";

.stocks.page {
  @include pageSpacing();
  div.edit-stock-modal,
  div.add-stock-modal,
  div.search-modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 200;
    font-family: $neutra;
    transition: $ease-all-short;
    display: flex;
    align-items: center;
    justify-content: center;
    .modal-background {
      background-color: rgba(0, 0, 0, 0.4);
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
    }
    form {
      text-align: left;
      border-collapse: initial;
      border-spacing: initial;
      font-size: initial;
      @include modal(false);
    }
  }

  .stock-content {
    width: 90%;
    margin: auto;
    @media (min-width: $large) {
      width: 80%;
      margin: auto;
    }
    @media (max-width: $medium) {
      width: 90%;
    }
    h3 {
      @include headerThree;
    }
    h1 {
      @include headerOne;
    }
    .no-stock {
      color: $primary;
      font-family: $neutra;
      text-transform: uppercase;
      font-size: 1.5em;
      text-align: center;
      display: block;
      width: 50%;
      margin: auto;
      @media (max-width: $medium) {
        width: 75%;
      }
      @media (max-width: $small) {
        width: 90%;
      }
    }
  }
}

.navigation-buttons {
  margin: 15px 0 20px;
  display: flex;
  justify-content: left;
  button {
    margin: 0 1em 0 0;
    border: none;
    padding: 0.5em 2em;
    font-size: 1.5em;
    border-radius: 6em;
    font-family: $neutra-bold;
    color: $secondary;
    background-color: $primary;
    cursor: pointer;
    transition: $bezier;
    @media (min-width: $large) {
      font-size: 1.5em;
    }
    @media (max-width: $large) {
      font-size: 1.15em;
    }
    @media (max-width: $medium) {
      padding: 0.5em 1em;
      font-size: 1.25em;
    }
    @media (max-width: $small) {
      font-size: 1.1em;
    }
    &:hover {
      transform: scale(1.1);
    }
    &:focus {
      outline: 0;
    }
  }
}

div.stock-list {
  width: 100%;
  &-item {
    box-sizing: border-box;
    width: 100%;
    margin: 1.5em auto;
    padding: 0;
    font-family: $neutra;
    transition: $ease-all-long;
    color: $gray;
    .row-1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .name {
        margin: 0;
        display: inline;
        font-family: $neutra-bold;
        font-size: 1.5em;
      }
      .quantity {
        margin: 0;
        display: inline;
        font-size: 1.5em;
      }
    }
    .row-2 {
      margin: 0.5em 0 1em;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .location {
        margin: 0;
        display: inline;
        font-size: 1.25em;
      }
      .expiration {
        margin: 0;
        display: inline;
        font-size: 1.5em;
        span {
          padding: 4px 12px;
          border-radius: 10px;
        }
      }
    }
    .row-3 {
      text-align: right;
      button {
        margin-right: 10px;
        display: inline;
        padding: 0.2em 0.75em;
        font-size: 1.25em;
        border-radius: 10px;
        font-family: $neutra-bold;
        color: $primary;
        background-color: #f0ecff;
        border: 2px solid #e3dcff;
        cursor: pointer;
        transition: $bezier;
        &:hover {
          transform: scale(1.1);
        }
        &:focus {
          outline: 0;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

table.stock-list {
  margin-top: 35px;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 10px;
  font-size: 1.3em;
  @media (max-width: $large) {
    font-size: 1em;
  }
  @media (max-width: $medium) {
    font-size: 1.15em;
  }
  tbody {
    box-sizing: border-box;
    margin: 1.5em auto;
    padding: 0;
    font-family: $neutra;
    transition: $ease-all-long;
    color: $gray;
    tr {
      border-bottom: 2px solid #e3dcff;
      &:last-child {
        border: none;
      }
      td {
        font-size: 1.25em;
        padding: 0.2em 0;
        @media (min-width: $large) {
          padding: 0.6em 0;
        }
        @media (max-width: $large) {
          padding: 0.3em 0;
        }
        &:last-child {
          width: 1%;
          white-space: nowrap;
        }
        button {
          margin-right: 10px;
          display: inline;
          padding: 0.2em 0.75em;
          font-size: 0.9em;
          border-radius: 5px;
          border-radius: 10px;
          font-family: $neutra-bold;
          color: $primary;
          background-color: #f0ecff;
          border: 2px solid #e3dcff;
          cursor: pointer;
          transition: $bezier;
          &:hover {
            transform: scale(1.1);
          }
          &:focus {
            outline: 0;
          }
          &:last-child {
            margin-right: 0;
          }
        }
        .expiration-span {
          padding: 0.2em 0.75em;
          border-radius: 10px;
        }
      }
    }
  }
  thead {
    box-sizing: border-box;
    margin: 1.5em auto;
    font-family: $neutra-bold;
    text-align: left;
    transition: $ease-all-long;
    color: $primary;

    tr {
      border-bottom: 2px solid #e3dcff;
      th {
        font-size: 1.5em;
        background-color: #f0ecff;
        padding: 0.25em 0em;
        &:first-child {
          border-radius: 10px 0 0 0;
        }
        &:last-child {
          border-radius: 0 10px 0 0;
        }
      }
    }
  }
}

.open-modal {
  cursor: pointer;
}
