@import "../../../assets/variables";

div.stock-list {
  width: 100%;
  &-item {
    box-sizing: border-box;
    width: 50%;
    margin: 25px auto;
    padding: 0 15px;
    font-family: $neutra;
    transition: 1s ease-in-out all;
    color: $darkpurple;
    @media only screen and (max-width: 1000px) {
      width: 75%;
      margin: 20px auto;
    }
    @media only screen and (max-width: 500px) {
      width: 100%;
      margin: 15px auto;
    }
    .row-1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .name {
        margin: 0;
        display: inline;
        font-family: $neutra-bold;
        font-size: 22px;
      }
      .quantity {
        margin: 0;
        display: inline;
        font-size: 20px;
      }
    }
    .row-2 {
      margin: 7.5px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .location {
        margin: 0;
        display: inline;
        font-size: 20px;
      }
      .expiration {
        margin: 0;
        display: inline;
        font-size: 20px;
      }
    }
    .row-3 {
      display: flex;
      flex-direction: row-reverse;
      button {
        margin: 5px 0 0 10px;
        border: none;
        padding: 6.5px 19px;
        font-size: 18px;
        border-radius: 100px;
        font-family: $neutra-bold;
        color: $bluepurple;
        cursor: pointer;
        transition: $bezier-transition;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

table.stock-list {
  width: 90%;
  margin: 0 auto 15px;
  tbody {
    box-sizing: border-box;
    margin: 25px auto;
    padding: 0 15px;
    font-family: $neutra;
    transition: 1s ease-in-out all;
    color: $darkpurple;
    tr {
      td {
        font-size: 1.25em;
        padding: 5px 0;
        &:last-child {
          width: 1%;
          white-space: nowrap;
        }
        button {
          margin: 0 0 0 7.5px;
          display: inline;
          border: none;
          padding: 6.5px 25px;
          font-size: 1em;
          border-radius: 100px;
          font-family: $neutra-bold;
          color: $bluepurple;
          cursor: pointer;
          transition: $bezier-transition;
          &:hover {
            transform: scale(1.1);
          }
          &:focus {
            outline: 0;
          }
        }
      }
    }
  }
  thead {
    box-sizing: border-box;
    margin: 25px auto;
    padding: 0 15px;
    font-family: $neutra-bold;
    text-align: left;
    transition: 1s ease-in-out all;
    color: $darkpurple;
    tr {
      th {
        font-size: 1.5em;
      }
    }
  }
}

.no-stock {
  color: $darkpurple;
  font-family: $neutra;
  text-transform: uppercase;
  font-size: 25px;
  text-align: center;
  display: block;
  width: 50%;
  margin: auto;
  @media only screen and (max-width: 1000px) {
    width: 75%;
  }
  @media only screen and (max-width: 600px) {
    width: 90%;
  }
}
