@import "../../../assets/variables";

div.stock-list {
  width: 100%;
  &-item {
    box-sizing: border-box;
    width: 100%;
    margin: 1.5em auto;
    padding: 0 1em;
    font-family: $neutra;
    transition: $ease-all-long;
    color: $primary;
    .row-1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .name {
        margin: 0;
        display: inline;
        font-family: $neutra-bold;
        font-size: 1.5em;
      }
      .quantity {
        margin: 0;
        display: inline;
        font-size: 2em;
      }
    }
    .row-2 {
      margin: 0.5em 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .location {
        margin: 0;
        display: inline;
        font-size: 2em;
      }
      .expiration {
        margin: 0;
        display: inline;
        font-size: 2em;
      }
    }
    .row-3 {
      display: flex;
      flex-direction: row-reverse;
      button {
        margin: 0.3em 0 0 1em;
        border: none;
        padding: 0.3em 19px;
        font-size: 1em;
        border-radius: 6em;
        font-family: $neutra-bold;
        color: $primary;
        cursor: pointer;
        transition: $bezier;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

table.stock-list {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 10px;
  tbody {
    box-sizing: border-box;
    margin: 1.5em auto;
    padding: 0;
    font-family: $neutra;
    transition: $ease-all-long;
    color: $primary;
    tr {
      td {
        font-size: 1.25em;
        padding: 0.3em 0;
        &:last-child {
          width: 1%;
          white-space: nowrap;
        }
        button {
          margin-right: 10px;
          display: inline;
          padding: 0.2em 0.75em;
          font-size: 0.9em;
          border-radius: 5px;
          border-radius: 10px;
          font-family: $neutra-bold;
          color: $primary;
          background-color: #f0ecff;
          border: 2px solid #e3dcff;
          cursor: pointer;
          transition: $bezier;
          &:hover {
            transform: scale(1.1);
          }
          &:focus {
            outline: 0;
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
  thead {
    box-sizing: border-box;
    margin: 1.5em auto;
    font-family: $neutra-bold;
    text-align: left;
    transition: $ease-all-long;
    color: $primary;

    tr {
      th {
        font-size: 1.5em;
        background-color: #f0ecff;
        padding: 0.25em 0em;
        &:first-child {
          border-radius: 10px 0 0 0;
        }
        &:last-child {
          border-radius: 0 10px 0 0;
        }
      }
    }
  }
}
