@import "../../assets/variables";

.locations.page {
  @include pageSpacing();
  .location-content {
    width: 90%;
    margin: auto;
    @media (min-width: $large) {
      width: 80%;
      margin: auto;
    }
    @media (max-width: $medium) {
      width: 90%;
    }
    h3 {
      @include headerThree;
    }
    h1 {
      @include headerOne;
    }
    div.location-list {
      margin-top: 35px;
      font-size: 1.3em;
      @media (max-width: $large) {
        font-size: 1em;
      }
      @media (max-width: $medium) {
        font-size: 1.15em;
      }
      &-item {
        box-sizing: border-box;
        width: 100%;
        padding: 1.5em 0;
        font-family: $neutra;
        transition: $ease-all-long;
        color: $gray;
        border-bottom: 2px solid #e3dcff;
        &:first-child {
          padding-top: 0;
        }
        &:last-child {
          border-bottom: none;
        }
        .name {
          margin: 0;
          display: inline;
          font-family: $neutra-bold;
          font-size: 1.5em;
        }
        .options {
          text-align: right;
          padding-top: 1em;
          @media (min-width: $medium) {
            padding-top: 0;
            display: inline;
            float: right;
          }
          @media (max-width: $medium) {
            padding-top: 10px;
            display: block;
          }
          button {
            margin-right: 10px;
            display: inline;
            padding: 0.2em 0.75em;
            font-size: 1.25em;
            border-radius: 5px;
            border-radius: 10px;
            font-family: $neutra-bold;
            color: $primary;
            background-color: #f0ecff;
            border: 2px solid #e3dcff;
            cursor: pointer;
            transition: $bezier;
            &:hover {
              transform: scale(1.1);
            }
            &:focus {
              outline: 0;
            }
            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }
    div.add-location-modal,
    div.edit-location-modal {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 200;
      font-family: $neutra;
      transition: $ease-all-short;
      display: flex;
      align-items: center;
      justify-content: center;
      .modal-background {
        background-color: rgba(0, 0, 0, 0.4);
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
      }
      form {
        @include modal(true);
      }
    }
    .button-container {
      margin: 15px 0 20px;
      display: flex;
      justify-content: left;
      button {
        margin: 0 1em 0 0;
        border: none;
        padding: 0.5em 2em;
        font-size: 1.5em;
        border-radius: 6em;
        font-family: $neutra-bold;
        color: $secondary;
        background-color: $primary;
        cursor: pointer;
        transition: $bezier;
        @media (min-width: $large) {
          font-size: 1.5em;
        }
        @media (max-width: $large) {
          font-size: 1.15em;
        }
        @media (max-width: $medium) {
          padding: 0.5em 1em;
          font-size: 1.25em;
        }
        @media (max-width: $small) {
          font-size: 1.1em;
        }
        &:hover {
          transform: scale(1.1);
        }
        &:focus {
          outline: 0;
        }
      }
    }

    .no-location {
      color: $primary;
      font-family: $neutra;
      text-transform: uppercase;
      font-size: 1.5em;
      text-align: center;
      display: block;
      width: 50%;
      margin: auto;
      @media (max-width: $medium) {
        width: 75%;
      }
      @media (max-width: $small) {
        width: 90%;
      }
    }
  }
}

.open-modal {
  cursor: pointer;
}
