@import "../../assets/variables";

.locations.page {
  padding-top: 6em;
  transition: $ease-all;
  @media (max-width: $medium) {
    padding-top: 0em;
  }
  h1 {
    margin: 0.5em 0;
    display: block;
    text-align: center;
    color: $primary;
    font-family: $neutra-bold;
    font-size: 3em;
    @media (max-width: $small) {
      font-size: 2em;
    }
  }
  button.add-location-button {
    margin: 1em auto 1.5em;
    display: block;
    border: none;
    padding: 0.5em 3.125em;
    font-size: 1.5em;
    border-radius: 6em;
    font-family: $neutra-bold;
    color: $primary;
    cursor: pointer;
    transition: $bezier;
    @media (max-width: $small) {
      padding: 0.5em 1.5em;
    }
    &:hover {
      transform: scale(1.1);
    }
    &:focus {
      outline: 0;
    }
  }

  .no-location {
    color: $primary;
    font-family: $neutra;
    text-transform: uppercase;
    font-size: 1.5em;
    text-align: center;
    display: block;
    width: 50%;
    margin: auto;
    @media (max-width: $medium) {
      width: 75%;
    }
    @media (max-width: $small) {
      width: 90%;
    }
  }
}
