nav {
    width: 100%;
    background-color: white;
    box-shadow: 0 8px 6px -6px rgba(0,0,0,.2);
    z-index: 100;
    position: relative;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;
        li {
            padding: 14px 16px;
            margin: 0 20px;
            display: inline-block;
            cursor: pointer;
            font-family: 'NeutraBold';
            font-size: 20px;
            a {
                text-decoration: none;
                color: #535353;
            }
            .logout {
                background-color: #D8D8D8;
                border: none;
                border-radius: 3px;
                font: 20px 'NeutraBold';
                color: #535353;
                padding: 5px 15px;
                cursor: pointer;
            }
        }
    }

}
.button-container {
    display: flex;
    justify-content: center;
    .modal-button {
        background-color: #D8D8D8;
        border: none;
        border-radius: 3px;
        font: 20px 'NeutraBold';
        color: #535353;
        padding: 5px 15px;
        margin: 25px 10px;
        cursor: pointer;
    }
}
