@import "../../../assets/variables";

.navigation-buttons {
  margin: 15px 15px 25px;
  display: flex;
  justify-content: center;
  @media only screen and (max-width: 700px) {
    margin: 0;
  }
  button {
    margin: 0 10px;
    border: none;
    padding: 7.5px 50px;
    font-size: 22px;
    border-radius: 100px;
    font-family: "NeutraBold", sans-serif;
    color: $color4;
    cursor: pointer;
    transition: $bezier-transition;
    @media only screen and (max-width: 1000px) {
      margin: 15px 10px 10px;
      padding: 7.5px 30px;
    }
    @media only screen and (max-width: 600px) {
      margin: 15px 5px 10px;
      padding: 7.5px 20px;
    }
    &:hover {
      transform: scale(1.1);
    }
    &:focus {
      outline: 0;
    }
  }
}
