@import "../../../assets/variables";

.navigation-buttons {
  margin: 1em 0 2em;
  display: flex;
  justify-content: left;
  button {
    margin: 0 1em 0 0;
    border: none;
    padding: 0.5em 2em;
    font-size: 1.5em;
    border-radius: 6em;
    font-family: $neutra-bold;
    color: $secondary;
    background-color: $primary;
    cursor: pointer;
    transition: $bezier;
    @media (min-width: $medium) {
      font-size: 1.5em;
    }
    @media (max-width: $medium) {
      padding: 0.5em 1em;
      font-size: 1.25em;
    }
    @media (max-width: $small) {
      font-size: 1.1em;
    }
    &:hover {
      transform: scale(1.1);
    }
    &:focus {
      outline: 0;
    }
  }
}
