@import "../../../assets/variables";

div.add-location-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
  font-family: $neutra;
  transition: $ease-all-short;
  display: flex;
  align-items: center;
  justify-content: center;
  .modal-background {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  form.add {
    @include modal(true);
  }
}
