@import "../../variables";
.hero-icon {
  .cls-1 {
    fill: #fff;
  }
  .cls-2 {
    fill: #b7abff;
  }
  .cls-3 {
    fill: #7453ff;
  }
  .cls-4 {
    fill: #9e8dff;
  }
  .cls-5 {
    fill: #d6d2ff;
  }
  .cls-6 {
    fill: #978fff;
  }
  .cls-7 {
    fill: #76b0c4;
  }
  .cls-8 {
    fill: #79b0c2;
  }
  .cls-9 {
    fill: #e2e2e2;
  }
}
