@import "../../../assets/variables";

div.search-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
  font-family: $neutra;
  transition: 0.2s ease-in-out opacity;
  display: flex;
  align-items: center;
  justify-content: center;
  .modal-background {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  form.search {
    box-sizing: border-box;
    background-color: white;
    z-index: 200;
    width: 60%;
    padding: 35px;
    border-radius: 5px;
    @media only screen and (max-width: 1000px) {
      width: 80%;
    }
    @media only screen and (max-width: 600px) {
      width: 95%;
    }
    h1 {
      margin: 0;
      color: $darkpurple;
      font-family: $neutra-bold;
      text-transform: uppercase;
      font-size: 25px;
    }
    .btn-container {
      text-align: right;
      margin-top: 20px;
      @media only screen and (max-width: 600px) {
        text-align: center;
      }
      button {
        margin: 0 10px;
        border: none;
        padding: 7.5px 50px;
        font-size: 22px;
        border-radius: 100px;
        font-family: $neutra-bold;
        color: $bluepurple;
        cursor: pointer;
        transition: $bezier-transition;
        @media only screen and (max-width: 600px) {
          padding: 7.5px 25px;
        }
        &:hover {
          transform: scale(1.1);
        }
        &:focus {
          outline: 0;
        }
      }
    }
    .search-input {
      margin: 15px 0;
      min-width: 200px;
      flex: 1;
      transition: $bezier-transition;
      label {
        font-size: 14px;
        width: 100%;
        display: block;
        font-family: $neutra-bold;
        color: $bluepurple;
        text-transform: uppercase;
      }
      input,
      select {
        border: none;
        font-size: 24px;
        width: 100%;
        color: $darkpurple;
        border-bottom: 2px solid $bluepurple;
        font-family: $neutra;
        padding: 3px 0 7px 0;
        -webkit-appearance: none;
        border-radius: 0;
        &::placeholder {
          color: $darkpurple;
        }
      }

      &:hover {
        transform: scale(1.025);
      }
    }
  }
}
